*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #0f0f0f;
  color: #e0e0e0;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

input::placeholder {
  opacity: 0.35;
}

.gtnh-icon {
  width: 32px;
  height: 32px;
  background-image: url('/atlas.webp');
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  image-rendering: pixelated;
  vertical-align: middle;
  flex-shrink: 0;
}
